/* font-family: 'Slabo 27px', serif;
font-family: 'Roboto', sans-serif; */
.container{
  margin:0%;
}
.hero-image-top {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(93, 141, 203, 0.8), rgba(93, 141, 203, 0.8)), url("./images/superman.jpg");

  /* Set a specific height */
  height: 50%;
  width:100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0%;
  align-content: center;
  text-align: center
}
#text{
  padding: 5%;
}
.text1{
  font-family: 'Slabo 27px', serif;
  color: white;
  text-align: center
}
.text2{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 20px;
  text-align: center
}
.logo{
  margin-top: 5%;
  margin-left: 10%;
}
.button{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
  border: 1.2px solid white;
  height: 10%;
  width: 80%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  align-content: center;
  margin-bottom: 20%;
  text-align: center
}
#middle{
  margin-top: 5%;
}
.text3{
  font-family: 'Slabo 27px', serif;
  color: rgb(146, 185, 233);
  font-size: 45px;
  align-content: center;
  text-align: center
  /* margin: 0% 20%; */
}
.text4{
  font-family: 'Roboto', sans-serif;
  color: rgb(135, 135, 135);
  align-content: center;
  text-align: center
}
.text5{
  font-family: 'Slabo 27px', serif;
  color:white;
  font-size: 45px;
  align-content: center;
  text-align: center
}
#icons{
  align-content: center;
  margin-top: 2%;
}
.hero-image-middle {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(135, 135, 135, .8), rgba(135, 135, 135, .8)), url("./images/office.jpg");

  /* Set a specific height */
  height: 20%;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin:0%;
  align-content: center;
  text-align: center
}
#superheroes{
  padding: 10%;
  align-content: center;
  text-align: center
}

.topnav {
   float: left;
   margin-top: 0%;
   /* margin-left: 45%; */
    overflow: hidden;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size: 40px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-bottom: 2px solid black;
    
  }
  
  /* Add an active class to highlight the current page */
  .active {
    
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .hero-image-bottom {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .1));
  
    /* Set a specific height */
    height: 20%;
    width: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0%;
    align-content: center;
    text-align: center
  }
  #contact{
   position: absolute;
   top: 0;
   left: 0;
   width: 70%;
   margin-top:15%;
  }
  #address{
    background-color:rgba(64, 62, 62, 0.8);
    /* margin-top: 10%;
    margin-bottom: 10%; */
    /* width: 50%; */
  }
  ul{
    padding:0;
    margin:0;
  }
  li {
    list-style-type: none;
    
}
  .text6{
    font-family: 'Slabo 27px', serif;
    color: white;
    font-size: 20px;
    margin-top:2%;
    text-align: center
  }
  .text7{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
    font-weight: bold;
    margin-top:2%;
    text-align: center
  }
  .text8{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 10px;
    text-align: center
  }
  #movie{
    margin: 5%;
    padding: 5%;
    align-content: center;
  }
  #screens{
    margin-top: 10%;
    margin-left: 30%;
    max-height: 80%;
    max-width: 100%;
  }
  .hero-image-middle-bottom{
    background-image: linear-gradient( rgb(233, 233, 233), rgb(233, 233, 233));
    height: 15%;
    width: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: -5%;
    z-index:-1;
    text-align: center;
    align-content: center;

  }
  .col-md-6{
    padding:0%;
  }
  #name{
    min-width: 39vw;
    /* margin-right:3%; */
    margin-top: 3%;
    border: 1px solid rgb(135, 135, 135);
    box-shadow: 2px 2px grey;
  }
  #email{
    min-width: 39vw;
    margin-top: 3%;
    margin-left: 3%;
    border: 1px solid rgb(135, 135, 135);
    box-shadow: 2px 2px grey;
  }
  #power{
    min-width: 80vw;
    margin-top:3%;
    border: 1px solid rgb(135, 135, 135);
    box-shadow: 2px 2px grey;
  }
  #subject{
    min-width: 80vw;
    min-height: 30vh;
    margin-top: 3%;
    border: 1px solid rgb(135, 135, 135);
    box-shadow: 2px 2px grey;
  }
  .button2{
  font-family: 'Roboto', sans-serif;
  color:rgb(135, 135, 135);
  font-size: 15px;
  border: 1.2px solid rgb(135, 135, 135);
  height: 10%;
  width: 80%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  text-align: center;
  margin-bottom: 10%;
  box-shadow: 2px 2px grey;
  align-content: center;
  }
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height:20%;
    background-color: rgb(147, 184, 231);
    color: white;
    text-align: center;
   
  }



@media screen and (max-width: 1040px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 1040px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }